# Backend
PORT=3001
API_URL=http://localhost:3001
FRONTEND_URL=http://localhost:5173

# Strava
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_VERIFY_TOKEN=habitgrid_random

# GitHub
GITHUB_TOKEN=
GITHUB_USERNAME=
